.hero{
    padding-top:var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media(min-width:768px){
    .hero{
        flex-direction: row;
        text-align: left;
    }
}

.greeting{
    margin: 10px;
}
.name{
    margin: 10px;
    font-family: var(--font-titles);
    font-weight: 700;
    font-size: 3rem;
}
.title{
    margin: 10px;
}

.profile-image{
    
    width: 240px;
    height: auto;
    margin: 20px;
    position: relative;
    z-index: 10;
    border-radius: 50%;

}

.photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.photo-container::before{
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    background-color: var(--bg-hover);
    border-radius: 50%;
    z-index: 0;
    
}