.navbar{
    height:var(--navbar-height);
    background-color: var(--bg-violet);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-item{
    font-weight: 400;
    font-size: medium ;
}

.nav-button{
    background-color: var(--text-dark);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
}   

