.stack{
    padding: 30px 0px;
    border-bottom: 2px solid;
    
}

.contenedor-fondo {
  background-image: url('https://res.cloudinary.com/duaoa6n1z/image/upload/v1783461290/myportfolio/bg-card_tjb4yo.png'); 
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.skill-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.skill-detail:hover{
    background-color: var(--bg-hover);
    border-radius: 10%;
    box-shadow: 0px 0px 20px 5px var(--bg-blue);
}


img{
    width: 60px;
    height: 60px;
}

